$home-txt-color:#111111;


body{
    height: 100vh;
    width: 100%;
}

.flex_home{
    display: flex;
    justify-content: center;
}

.wrap_nav{
    display: flex;
    justify-content: center;
    .navbar{
        display: flex;
    justify-content: center;
    align-items: center;
    width: 1110px;
    height: 23px;
    

    }
    
}





nav{
    display: flex;
    width: 100%;
    justify-content: flex-end;
   
}


li{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.346154px;
    color: $home-txt-color;
    list-style-type: none;
    
}
a{
    text-decoration: none;
}

.section_pres{
    display: flex;
    justify-content: center;
    margin-top: 96px;

}
.wrap_section{
    width: 1110px;
    height: 251px;
    display: flex;
    justify-content: space-between;
    .pres_home{
        width: 635px;
        height: 191px;
        color: $home-txt-color;
    }
    .h3{
        font-family: 'Mulish', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 28px;
        letter-spacing: -0.423077px;
        color: #4A4FF2;
    }

}



h1{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    color: $home-txt-color;
}

.wrap_smalltext{
    display: flex;
    align-items: end;
    width: 200px;
}

span{
  color: #4A4FF2;  
}




.design{
    justify-content: flex-end;
    font-family: 'Mulish', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 17px;
    line-height: 23px;
    color: $home-txt-color;
    mix-blend-mode: normal;
    opacity: 0.6;

}
.rectangle{
    width: 30px;
    height: 2px;
    background-color: #979797;
    margin-bottom: 9px; 
}



.wrap_grid{
    display: flex;
    justify-content: center;
    margin-top: 156px;
}

.grid_home{
    width: 1110px;
    height: 1951px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows:repeat(32, 1fr);
    grid-gap: 16px;
}

.pic1{
    grid-column: 1/4;
    grid-row: 1/8;
    background-image: url(/img/Rectangle.png);
    background-repeat: no-repeat;
}
.pic2{
    grid-column: 4/7;
    grid-row: 1/7;
    
  background-image: url(/img/rec2.png);
  background-repeat: no-repeat;
}
.pic3{
    grid-column: 7/10;
    grid-row: 1/11;
  
   background-image: url(/img/rec3.png);
   background-repeat: no-repeat;
}
.pic4{
    grid-row: 8/16 ;
    grid-column: 1/4;
   
    background-image: url(/img/rec4.png);
    background-repeat: no-repeat;

}
.pic5{
    grid-column:4/7 ;
    grid-row:7/14 ;
    
    background-image: url(/img/rec5.png);
    background-repeat: no-repeat;
}
.pic6{
    grid-column: 7/10;
    grid-row:11/18 ;
    
    background-image: url(/img/rec6.png);
    background-repeat: no-repeat;
}
.pic7{
    grid-column: 1/4;
    grid-row: 16/24;
    
    background-image:url(/img/rec8.png);
    background-repeat: no-repeat;
}
.pic8{
    grid-row: 14/23;
    grid-column: 4/7;
  
    background-image: url(/img/rec7.png);
    background-repeat: no-repeat;
}
.pic9{
    grid-row: 18/27;
    grid-column: 7/10;
   
    background-image: url(/img/rec9.png);
    background-repeat: no-repeat;
}
.pic10{
    grid-column: 1/4;
    grid-row: 24/33;
    background-image: url(/img/rec12.png);

    background-repeat: no-repeat;

}
.pic11{
    grid-row: 23/33;
    grid-column: 4/7;
    
    background-image: url(/img/rec11.png);
    background-repeat: no-repeat;

}
.pic12{
grid-row: 27/33;
grid-column: 7/10;
background-image: url(/img/rec10.png);
background-repeat: no-repeat;

}

.container_service{
    display: flex;
    justify-content: center;
    width: 1360px;
    height: 106px;
}

.wrap_service{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-top: 91px;
    width: 1079px;
    height: 106px;
}

.serv_list1{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    color: $home-txt-color;
    width: 635px;
    height: 106px;
}

.serv_list2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: $home-txt-color;
    mix-blend-mode: normal;
    opacity: 0.6;
    width:150px ;
    height: 89px;
}



.serv_list3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: $home-txt-color;
    mix-blend-mode: normal;
    opacity: 0.6;
    width:150px ;
    height: 89px;
}


.container_award{
    display: flex;
    justify-content: center;
    margin-top: 101px;
}

.wrap_award{
    width: 1110px;
    height: 823px;
    display: flex;
    justify-content: center;
    margin-top: 101px;
    border-bottom: 2px solid #D8D8D8;
    border-top: solid 2px #D8D8D8;

}


.award_1{
    width: 370px;
    height: 823px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    color: $home-txt-color;
}
.award_2{
    width: 370px;
    height: 823px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: $home-txt-color;
}

.award_3{
    width: 370px;
    height: 823px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}

.row{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color:grey;
    mix-blend-mode: normal;
}
.genesis{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color:$home-txt-color;
    margin-bottom: 12px;

}
.award_year{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    color: $home-txt-color;

}

.container_footer{
    display: flex;
    justify-content: center;
   
    height: 23px;
}
.wrap_foot{
    width: 1110px;
    height: 23px;
    margin-top: 114px;
    display: flex;

}

.img_logo{
    width: 555px;
    height:23px;
}

.wrap_nav_icons{
    width: 555px;
    height:23px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icons{
    display: flex;
}

.flexicons{
    display: flex;
    width:95px ;
    height: 23px;
}

.img-insta{
    margin-left: 26px;
}

 .img-twitter{
    margin-left: 26px;
 }
